# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/TesteHexagonFront/node_modules
/TesteHexagonFront/.DS_Store
/TesteHexagonFront/dist
/TesteHexagonFront/dist-ssr
/TesteHexagonFront/coverage
*.local

/TesteHexagon/.vs
/TesteHexagon/TesteHexagon/bin


/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo


